# DATA CLEANING

In [2]:
import numpy as np
import pandas as pd

In [53]:
data_PerGame = pd.read_excel("data/Data.xlsx")

display(data_PerGame.shape)
display(data_PerGame.head(3))

(842, 30)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1

In [54]:
data_Shooting = pd.read_excel("data/Data_1.xlsx")

display(data_Shooting.shape)
display(data_Shooting.head(3))

(842, 19)

,Rk,Player,Pos,Age,Tm,G,MP,FG%,Dist.,2P,0-3,3-10,10-16,16-3P,3P,%FGA,%3PA,3P%,Att.
0,1,Precious Achiuwa,C,22,TOR,73,1725,.439,10.2,.598,.614,.345,.373,.190,.964,.143,.429,.313,0
1,2,Steven Adams,C,28,MEM,76,1999,.547,2.9,.490,.632,.350,.438,.000,NaN,.143,.000,NaN,1
2,3,Bam Adebayo,C,24,MIA,56,1825,.557,7.0,.608,.771,.467,.404,.313,NaN,.181,.000,NaN,2

In [55]:
data_Advance = pd.read_excel("data/Data_2.xlsx")

display(data_PerGame.shape)
display(data_PerGame.head(3))

(842, 30)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1

In [60]:
data_hof = pd.read_excel("data/Data_3.xlsx")

display(data_hof.shape)
display(data_hof.head(3))

(507, 14)

,Year,Name,Category,G,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,2022,Swin Cash WNBA,Player,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,Larry Costello Player / Coach / CBB player /...,Contributor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,Hugh Evans Ref,Referee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#######################################DON'T RUN#######################################
drop_row = []
for i in range(len(data_df['Rk'])):
    if data_df.iloc[i]['Rk'] == 'Rk':
        drop_row.append(i)
drop_row
data_df.drop(drop_row, inplace=True)
data_df.shape

(812, 30)

In [56]:
#FUNCTION TO DROP DROP DUPLICATED ROW IN THE DATASET
def drop_Duplicate(data):
    data.drop_duplicates(keep=False, inplace = True)
    return data

In [57]:
data_PerGame = drop_Duplicate(data_PerGame)
data_PerGame.shape

(812, 30)

In [58]:
data_Shooting = drop_Duplicate(data_Shooting)
data_Shooting.shape

(812, 19)

In [59]:
data_Advance = drop_Duplicate(data_Advance)
data_Advance.shape

(812, 27)

In [61]:
data_hof = drop_Duplicate(data_hof)
data_hof.shape

(445, 14)

In [62]:
data_hof.columns

Index(['Year', 'Name', 'Category', 'G', 'PTS', 'TRB', 'AST', 'STL', 'BLK',
       'FG%', '3P%', 'FT%', 'WS', 'WS/48'],
      dtype='object')

FOR THE HALL OF FAME DATA
SELECT THE CATEGORY WITH UNIQUE VARIABLE PLAYER ONLY
DROP SOME SELECTED COLUMN (category, empty W, L, W/L% and Year also)

In [ ]:
FOR THE FIRST DATA
CHECK FOR DUPLICATE
REMOVE DUPLICATED ROW
REMOVE THE DUPLICATED COLUMN ALSO

In [ ]:
FOR THE SECOND ENDPOINT DATA
CHECK FOR DUPLICATE
REMOVE DUPLICATED ROW
REMOVE THE DUPLICATED COLUMN ALSO

In [ ]:
FOR THE THIRD ENDPOINT DATA
CHECK FOR DUPLICATE
REMOVE DUPLICATED ROW
REMOVE THE DUPLICATED COLUMN ALSO

(842, 30)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [26]:
#CHECK FOR DUPLICATE
data_PerGame.duplicated().sum()

29

In [27]:
#DROP THE DUPLICATE ROW
data_PerGame.drop_duplicates(keep=False, inplace = True)

(812, 30)

(842, 19)

,Rk,Player,Pos,Age,Tm,G,MP,FG%,Dist.,2P,0-3,3-10,10-16,16-3P,3P,%FGA,%3PA,3P%,Att.
0,1,Precious Achiuwa,C,22,TOR,73,1725,.439,10.2,.598,.614,.345,.373,.190,.964,.143,.429,.313,0
1,2,Steven Adams,C,28,MEM,76,1999,.547,2.9,.490,.632,.350,.438,.000,NaN,.143,.000,NaN,1
2,3,Bam Adebayo,C,24,MIA,56,1825,.557,7.0,.608,.771,.467,.404,.313,NaN,.181,.000,NaN,2
3,4,Santi Aldama,PF,21,MEM,32,360,.402,12.0,.638,.682,.444,.417,.000,1.000,.076,.229,.364,0
4,5,LaMarcus Aldridge,C,36,BRK,47,1050,.550,12.3,.748,.729,.513,.509,.563,1.000,.039,.283,.308,0

In [51]:
drop_columns = data_Shooting.columns
for col in drop_columns:
    if col == " ":
        data_Shooting.drop([col], axis = 1, inplace = True)
data_Shooting.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'FG%', 'Dist.', ' ',
       '2P', '0-3', '3-10', '10-16', '16-3P', '3P', '%FGA', '%3PA', '3P%',
       'Att.'],
      dtype='object')

In [45]:
name = " "
name

' '